<footer>
  <!-- Page View -->
<img src="https://komarev.com/ghpvc/?username=synnaulaid&color=blue&style=flat-square&label=Page%20View" alt="Page View">

<!-- Email -->
<a href="mailto:syn@warceuproject.or.id">
  <img src="https://img.shields.io/badge/Email-syn%40warceuproject.or.id-blue?style=flat-square&logo=gmail&logoColor=white" alt="Email">
</a>

<!-- GitHub -->
<a href="https://github.com/synnaulaid">
  <img src="https://img.shields.io/badge/GitHub-synnaulaid-black?style=flat-square&logo=github&logoColor=white" alt="GitHub">
</a>

<!-- Instagram -->
<a href="https://www.instagram.com/syn.naulaid/">
  <img src="https://img.shields.io/badge/Instagram-synnaulaid-e4405f?style=flat-square&logo=instagram&logoColor=white" alt="Instagram">
</a>

<!-- Yandex Chat / Telegram -->
<a href="https://yandex.com/chat/p/d9a2c502-30d0-9c95-7c2e-a33467d3592f?utm_source=invite">
  <img src="https://img.shields.io/badge/YandexChat-synnaulaid-0084ff?style=flat-square&logo=telegram&logoColor=white" alt="Yandex Chat">
</a>
  <p>&copy; 2026 Synnaulaid</p>
  <p><i>Powered by <a href="https://www.warceuproject.or.id">Warceu Project Community</a></i></p>
</footer>