<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/img/a.png' | relative_url }}" type="image/x-icon">
  <!-- ADS-->
   <script>(function(s){s.dataset.zone='10670826',s.src='https://nap5k.com/tag.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))</script>
  <!-- END ADS -->

  <!-- metatag -->
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
    
  </main>

  {% include footer.html %}

</body>
</html>