<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: 'software development, cybersecurity, programming, web development' }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
  <meta property="og:description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  <meta property="og:image" content="{{ page.image | default: '/assets/img/a.png' | absolute_url }}">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{ page.title }} | {{ site.title }}">
  <meta property="twitter:description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  <meta property="twitter:image" content="{{ page.image | default: '/assets/img/a.png' | absolute_url }}">
  <!--- SEO Google json LD -->
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | strip_newlines }}",
  "image": "{{ page.image | default: '/assets/img/a.png' | absolute_url }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author | default: site.title }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/img/a.png' | absolute_url }}"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>

  <!-- style -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/img/a.png' | relative_url }}" type="image/x-icon">
  <!-- ADS-->
   <script>(function(s){s.dataset.zone='10670826',s.src='https://nap5k.com/tag.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))</script>
  <!-- END ADS -->

  
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
    
  </main>

  {% include footer.html %}

</body>
</html>