<!DOCTYPE html>
<html lang="id">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' }}">
  {% else %}
    <meta name="keywords" content="software development, cybersecurity, programming, web development">
  {% endif %}

  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
  <meta property="og:description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  <meta property="og:image" content="{{ page.image | default: '/assets/img/a.png' | absolute_url }}">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{ page.title }} | {{ site.title }}">
  <meta property="twitter:description" content="{{ page.description | default: page.excerpt | default: site.description }}">
  <meta property="twitter:image" content="{{ page.image | default: '/assets/img/a.png' | absolute_url }}">
  <!--AdS-->
  <!-- Google: GSC, analis, ads -->
  <meta name="google-adsense-account" content="ca-pub-4139686200972512">
  <meta name="google-site-verification" content="avvKNm3UUOrWD2I1bmKJVlVbQIfpcq1ve-Z9Rf7x4l8" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9HF2MR3WW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B9HF2MR3WW');
  </script>
  <!-- aherfs -->
   <script src="https://analytics.ahrefs.com/analytics.js" data-key="9H7txQ0BYW8QZgcCf6hQkw" async></script>
  <!--- SEO Google json LD -->
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{{ page.description | default: page.excerpt | strip_html | strip_newlines }}",
  "image": "{{ page.image | default: '/assets/img/a.png' | absolute_url }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author | default: site.title }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/img/a.png' | absolute_url }}"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>

  <!-- style -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/img/a.png' | relative_url }}" type="image/x-icon">

  
</head>
<body class="{{ page.body_class }}">

  {% include header.html %}

  <main>
    {{ content }}
    
  </main>

  {% include footer.html %}
<!-- Trakteer Button -->
<script type='text/javascript' src='https://edge-cdn.trakteer.id/js/trbtn-overlay.min.js?v=14-05-2025'></script><script type='text/javascript' class='troverlay'>(function() {var trbtnId = trbtnOverlay.init('Support Me on Trakteer','#be1e2d','https://trakteer.id/v1/synnaulaid/tip/embed/modal','https://edge-cdn.trakteer.id/images/embed/trbtn-icon.png?v=14-05-2025','40','floating-right');trbtnOverlay.draw(trbtnId);})();</script>

<!-- GOOGLE TRANSLATE HIDDEN -->
<div id="google_translate_element" style="display:none;"></div>

<script>
/* =========================
   INIT GOOGLE TRANSLATE
========================= */
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'id',
    includedLanguages: 'en,id',
    autoDisplay: false
  }, 'google_translate_element');
}
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script>
/* =========================
   AUTO LANGUAGE SWITCH
========================= */
(function () {

  const browserLang = navigator.language || navigator.userLanguage;

  // hanya trigger kalau user bukan Indonesia
  if (!browserLang.startsWith('id')) {

    const waitTranslate = setInterval(() => {

      const select = document.querySelector(".goog-te-combo");

      if (select) {
        select.value = "en";
        select.dispatchEvent(new Event("change"));

        clearInterval(waitTranslate);
      }

    }, 500);

    // safety stop after 10s
    setTimeout(() => clearInterval(waitTranslate), 10000);
  }

})();
</script>


<script src="{{ '/assets/js/copy.js' | absolute_url }}"></script>
<!-- ADS -->
<!-- adcash -->
<script type="text/javascript">
    aclib.runAutoTag({
        zoneId: 'qfpxwhag0a',
    });
</script>
<!-- adstera -->
<script src="https://pl29175953.profitablecpmratenetwork.com/03/3c/fb/033cfb78af428b8d3a85738d1447df2e.js"></script>

</body>
</html>