---
layout: base
---

<article>
  <h1>{{ page.title }}</h1>
  <p style="opacity:0.6;">{{ page.date | date: "%B %d, %Y" }}</p>
<!--adcash-->
<div>
    <script type="text/javascript">
        aclib.runBanner({
            zoneId: '11258134',
        });
    </script>
</div>
<!--adend-->
  <div>
    {{ content }}
  </div>

  {% if page.tags %}
    <div class="tags">
      <span class="taging"><b>Tags</b>: </span>
      {% for tag in page.tags %}
        <a href="{{ '/tags/' | append: tag | append: '/' | relative_url }}">
          #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
<!--adcash-->
<script type="text/javascript">
    aclib.runVideoSlider({
        zoneId: '11258286',
    });
</script>
  <!--adcash-->
</article>
