---
layout: base
---

<article>
  <h1>{{ page.title }}</h1>
  <p style="opacity:0.6;">{{ page.date | date: "%B %d, %Y" }}</p>

  <script async="async" data-cfasync="false" src="https://pl29175955.profitablecpmratenetwork.com/e6d31a217252b40df9110ba1ec3a4948/invoke.js"></script>
  <div id="container-e6d31a217252b40df9110ba1ec3a4948"></div>

  <div>
    {{ content }}
  </div>

  {% if page.tags %}
    <div class="tags">
      <span class="taging"><b>Tags</b>: </span>
      {% for tag in page.tags %}
        <a href="{{ '/tags/' | append: tag | append: '/' | relative_url }}">
          #{{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}


</article>